<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}AgoraVoeux II{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon2.ico') }}" />
		{% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" />
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>		
		<script src="{{ asset('js/app.js') }}"></script>
		<script>{% block script %}{% endblock %}</script>
	</head>
    <body class="mien">
	
	<div id="top">
		
		<div id="header">
			<div id="logo">
				<h1>AgoraVoeux II</h1>
			</div>
			<div id="menu">
				<ul>
					<li class="{% if app.request.attributes.get('_route') == 'accueil' %}encours  {% endif %}liimg accueil" ><a href="{{path('accueil')}}">Accueil</a></li>
					{% if app.user %}
						{% for role in app.user.roles %}
							{% if role in "ROLE_ADMIN" %}
								<li class="{% if app.request.attributes.get('_route') in ['av_liste_agent_view','liste_add','edit_agent','add_agent'] %}encours  {% endif %}liimg agents"><a href="{{path('av_liste_agent_view')}}">Agents</a></li>
							{% endif %}
						{% endfor %}
					{% endif %}
					<li class="{% if app.request.attributes.get('_route_params') == "/agent/edit/{{ app.user.id }}" %}encours  {% endif %}liimg agent"><a href="{{ path('edit_agent',{'agent_id': app.user.id}) }}">Profil</a></li>	
					<li class="{% if app.request.attributes.get('_route') in ['liste_choix','liste_agent'] %}encours  {% endif %}liimg voeux"><a href="/liste">Voeux</a></li>
					{% if app.user %} <li class="connexion" ><p>connecté :</p> <a href="/agent/edit/{{app.user.id}}">{{ app.user.username }}</a><a id="logout" href="/logout">Logout</a></li> {% endif %}
				</ul> 
			</div>
		</div>
		
		
	</div>

    {% for flashMessage in app.session.flashbag.all() %}
	<div class="flash-message alert alert-info" role="alert">
		{% for message in flashMessage %}
			{{ message }}
		{% endfor %}
	</div>
    {% endfor %}

	<div id="contener">
		<h1>{{ dump(app.request.attributes) }}</h1>	
	{% block body %}{% endblock %}
	{% block javascripts %}{% endblock %}	
	
    </div>
	<div id="footer">
	</div>

    </body>

</html>
