{%extends "::base.html.twig" %}
{% block body %}
<div class = "formulaire">
    <h1>Nouvelle liste de {{ agent.nom }} {{ agent.prenom }}</h1>

    <div class="well">
        {{form_start(formulaire,{'attr': {'class': 'form-horizontal'}})}}

        {# Les erreurs générales du formulaire #}
        {{ form_errors(formulaire) }}

        <div class="form-group">
            {{ form_label(formulaire.nom, "Nom de la liste", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(formulaire.nom) }}
            <div class="col-sm-9">
                {{ form_widget(formulaire.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(formulaire.methode, "Méthode de tri", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(formulaire.methode) }}
            <div class="col-sm-9">
                {{ form_widget(formulaire.methode, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Ordonnez les postes  par préférence</label>
            <div class="col-sm-9">
                <table>
                <tbody>
                {% for poste in postes %}
                    <tr>
                        <td class="id hidden">{{ poste.id }}</td>
                        <td class="nom">{{ poste.nom }}</td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(formulaire.valider, {'attr': {'class': 'btn btn-primary'}}) }}

        {{form_end(formulaire)}}
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
        $( function() {
            $('tbody').sortable({
                axis: "y", // Le sortable ne s'applique que sur l'axe vertical
                containment: "table", // Le drag ne peut sortir de l'élément qui contient la liste
                // Evenement appelé lorsque l'élément est relaché
                stop: function(event, ui){
                    var result = "";
                    // Pour chaque item de liste
                    $('tr').each(function(){
                        var txt = $(this).find('.id').text();
                        if(txt.length != 0 ) {
                            result += $(this).find('.id').text()+',';
                        }
                    });
                    $('#av_listevoeubundle_liste_choixPostes').attr('value', result.substring(0,result.length-1));
                }
            });
        });
    </script>
{% endblock %}
